*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container{
  margin-left: 0 auto;
  max-width: 1200px;
  width: 100%;
}
.back{
  height: 100vh;
  width: 100%;
}
.cat{
  width: 50vw;
  max-width: 500px;
  position: absolute;
  bottom:  5vh;
  left: 25vw;
}
.-md, .-lg{
  display: none;
}

@media(min-width:500px) {
  .cat{
    bottom:  0;
    left: 10vw;
    max-width: 600px;
    width: 70vw;
  }
  .-md{
    display: block;
  }
  .-sm, .-lg{
    display: none;
  }
}

@media(min-width:800px){
  .cat{
    width: 50vw;
    height: auto;
  }
  .-lg{
    display: block;
  }
  .-sm, .-md{
    display: none;
  }
}
